@import "src/styles/theme";

$headerHeight: 60px;
$submitFieldHeight: 50px;
$pageHeight: 88vh;


:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}
html {
  box-sizing: border-box;
  //overflow-x: hidden;
  //overflow-y: hidden;
}

.page {
  overflow-y: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: calc(100% - 30px);
  margin: 10px 10px;
  height: $pageHeight;
  max-height: $pageHeight;
  background: var(--msger-bg);
}

.header {
  display: flex;
  font-size: 1.7em;
  //justify-content: space-between;
  padding: 10px 16px;
  height: $headerHeight;
  max-height: $headerHeight;
  background: $headerColor;
  color: #4b4b4b;
}
.sticky {
  //position: fixed;
  //width: 100%;
}

.messageContainer {
  flex: 1;
  // height: calc(100% - $headerHeight - $submitFieldHeight);
  // background-color: lightgrey;
  //margin-top: $headerHeight;
  overflow-x: hidden;
  overflow-y: scroll;
 // margin-bottom: $submitFieldHeight;
  width: 100%;
  padding: 10px;
  height: calc(88vh - 100px);
  max-height: 70vh;
}

.messageContainer::-webkit-scrollbar {
  width: 7px;
}

.messageContainer::-webkit-scrollbar-track {
  background: #ddd;
}

.messageContainer::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  width: 100%;
}

.message:last-of-type {
  margin: 0;
}
.message-bubble {
  word-wrap: break-word; // breaks word if it becomes too long
  max-width: 60vw;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.message-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.message-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.message-info-time {
  font-size: 0.85em;
}

.left-message .message-bubble {
  border-bottom-left-radius: 0;
}

.right-message {
  flex-direction: row-reverse;
}
.right-message .message-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-message .message-img {
  margin: 0 0 0 10px;
}

// MESSAGE INPUT AREA

.chatInput-container {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.chatInput-container * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.inputField {
  flex: 1;
  background: #ddd;
}
.submitButton {
  margin-left: 10px;
 // background: rgb(44, 126, 194);
  background: #1976d2; // same color as header
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.submitButton:hover {
  background: rgb(0, 180, 50);
}
.submitButton:disabled {
  background: rgba(0, 42, 203, 0.52);
}

.avatar {
  :hover {
    cursor: pointer;
  }
}