@import 'src/styles/theme';

.rules {

    &.main-container{
         margin-top: 2em;
         min-height: 300px;
         @include center;
         flex-direction: column;
         margin-bottom: 20px;
     }
    &.card-container{
         background-color: $accent;
         display: block;
         @include center;

     }
    &.container {
         display: flex;
         flex-direction: column;
         width: 60%;
         max-width: 25em;
         height: 40em;
         font-size: $fontSizeMedium;
         font-weight: 300;
         padding-left: 37px;
         padding-right: 37px;
         border-radius: 1.2em;
         background-color: $background;
         transition: opacity 0.5s ease, transform 0.5s ease;
         box-shadow: $dropShadow;
         position: relative;
     }

    &.info-container{
         color: $background;
         font-size: $fontSizeSmall;
     }

    &.smallTitle{
         color: $background;
         position: relative;
         font-size: $fontSizeMedium;
     }

    &.moving-button-container {
         position: relative;
         margin-bottom: 20px;
         display: flex;
         justify-content: center;
         background-color: transparent;
         width: 380px;
     }

    &.title{
         position: relative;
         color: $textColor;
         font-size: $fontSizeLarge;
         top: -20px;
         margin-bottom: -15px;
     }

    .react-select {
        width: 380px;
    }


    &.td{
         padding-left: 20px;
         padding-bottom:60px;
     }


    &.table{
         margin-bottom: 30px;
     }

    &.container-title{
         margin-bottom: 20px;
         font-weight: bold;
     }
    &.container-text{
         font-weight: normal;
     }

}