@import 'src/styles/theme';

.userPage {

  &.main-container{
    margin-top: 2em;
    min-height: 300px;
    @include center;
    flex-direction: column;
  }
  &.card-container{
    background-color: $accent;
    display: block;
    @include center;

  }
  &.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 25em;
    height: 40em;
    font-size: $fontSizeSmall;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 1.2em;
    background-color: $background;
    box-shadow: $dropShadow;
    position: relative;
  }

  &.player-info-container{
    color: $textColor;
    margin-top: 2em;
    font-size: $fontSizeMedium;
    margin-bottom: 1em;
  }

  &.moving-button-container {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 380px;
  }
  &.fixed-button-container {
    position: absolute;
    bottom: 0px;
  }

  &.button{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &.title{
    color: $background;
    font-size: $fontSizeMedium;
    text-align: center;
  }

  &.delete-button{
    background-color: #ff6969;
    width: 380px;
    height: 50px;
    font-size: $fontSizeMedium;
    border-radius: 12px;
    text-transform: capitalize;
  }

  .react-select {
    width: 380px;
  }

  .react-select,
  .react-select__control--is-focused.react-select__control--menu-is-open {
    border-color: white;
    color: black;
  }

  &.select-option{
    color: black;
  }

}