$profileWidth: 120px;

.profile {
  cursor: default;
  display: flex;
  align-self: flex-start;
  min-width: 100%;
  width: 100%;
  max-height: 100%;
  user-select: none;

}

.profilePicture {

  width: $profileWidth;
  margin-left: 75px;

  position: relative;
  .username{
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 15px;
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }
}

.button-container {

  display: flex;
  flex-direction: column;
  margin-left: 135px;
  width: 150px;
}

.bi-arrow-left-circle {
  min-width: 40px;
  overflow: hidden;
  margin-right: 20px;
  position: relative;

  &:hover{
    cursor: pointer;
  }
}

.header {
  .profilePicture {
    min-width: 40vw;
    justify-content: flex-end;
    margin-left: 0;
    display: flex;
    flex-direction: row-reverse;
    user-select: none;


    .username{
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 1em;
    }

    img {
      max-width: 100px;
      object-fit: cover;
      margin: 0 10px;
    }

  }
  & .profile .button-container {
    right: 0;
    justify-content: flex-end;
    flex-direction: row;
    width: 40%;
  }
}
