@import 'src/styles/theme';

.card {
  &:hover {
    transform: translateY(-2em);
  }
  &.whiteCard {
    background-color: $WHITE_CARD_BACKGROUND_COLOR;
    color: $WHITE_CARD_TEXT_COLOR;
    &:disabled {
      cursor: default;
      opacity: 0.4;
      &:hover {
        transform: none;
      }
    }
  }

  &.blackCard {
    background-color: $BLACK_CARD_BACKGROUND_COLOR;
    color: $BLACK_CARD_TEXT_COLOR;
    &:disabled {
      cursor: default;
      &:hover {
        transform: none;
      }
    }
  }


  box-shadow: -2px 6px 10px 0px rgba(0,0,0,0.49);
  // text-align: center;
  align-items: flex-start;
  display: inline-flex;
  font-weight: 700;
  text-transform: uppercase;
  // font-size: 13px;  // original
  font-size: 20px;
  text-align: left;
  padding: 0.7em;
  height: 225px;
  width: 160px;
  margin: 1em;
  border-radius: $borderRadius;
  border: none;
  cursor: pointer;
  opacity: 1;
  color: $background;
  transition: all 0.3s ease;

  /* FONT (MUST BE DESIGNED)*/
  /*
  font-family: Georgia, serif;
  font-size: 13px;
  letter-spacing: 1.8px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;

   */

  &.container {
    background: $accent;
    padding: 1.5em;
    border-radius: $borderRadius;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    // box-shadow: $dropShadow;
    // height: flex;
  }
}