@import 'src/styles/theme';

.card-container {

  // margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  color: $textColor;
  align-content: center;
  display: flex;
  border: 10px greenyellow;
  justify-content: center;
  /*
  //margin-left: auto;
  //padding-left: 15px;
  //margin-right: auto;
  //padding-right: 15px;
  //max-width: $DESKTOP_WIDTH;
  //color: $textColor;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  //align-content: space-between;

  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  color: $textColor;
  align-content: center;
  //display: flex;
  //border: 10px greenyellow;
  //justify-content: center;

   */
}