/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$accent: #FFFFFF;
$accentDark: #123597;
$textColor: white;
$background: #000000;

/* some constants */

$DESKTOP_WIDTH: 1366px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;


/* some Card Constants */
$WHITE_CARD_BACKGROUND_COLOR: #f8f8f8;
$BLACK_CARD_BACKGROUND_COLOR: black;
$WHITE_CARD_TEXT_COLOR: black ;
$BLACK_CARD_TEXT_COLOR: white;
$WHITE_CARD_BORDER_COLOR: black;
$BLACK_CARD_BORDER_COLOR: white;

/* some standard elements */
/* fonts */
$fontDefault: "HelveticaNeueLT Pro 55 Roman", sans-serif;
$fontMono: "Helvetica Neue", monospace;
$fontSizeExtraLarge: 64px; /*used for banner*/
$fontSizeLarge: 48px;
$fontSizeMedium: 36px;
$fontSizeSmall: 18px;
$fontSizeExtraSmall: 13px; /* used for buttons*/



/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 1.5em;

/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/LoginRegistration.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}